

body {
    max-width: 1600px;
    background-color: white; 
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#home-grid h2 {
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #758E4F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color:  #396E94;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 35px;
}
.home-title h4 {
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.home-title {
    font-family: 'Helvetica Rounded', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: white;
}
#group-img {
    margin: 0 auto;
    display: block;
    max-width: 1600px;
}
.book, .join {
    background-color: #396E94;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-img {
    border: 10px solid #f3bb54;
    transition: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#card-img {
    border: 10px solid #F6AE2D;
} 
main section #card-img {
    box-sizing: border-box;
    border: 10px solid #f1d66a; 
}
.book:hover, .join:hover {
    background-color: #F6AE2D;
    background-color: #396E94;
    color: black;
}
 .book:hover,.join:hover { 
    background-color: #F6AE2D; 
    color:black; 
} 
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    height: 725px;
    background-color:  #f1d66a;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    margin: 100px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #758E4F;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2, .msg p {
    color: rgb(0, 0, 0);
}
footer {
    background-color: #f3bb54;
    color:  rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p a:hover {
    text-decoration: underline;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#hero-msg h4 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
        

beginning of subpage css

#rivers-content {
    height: 725px;
    background-color: #f1d66a
}
/* 
#first-img {
    margin: 0 auto;
    display: block;
    max-width: 1600px;
     margin: 100px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
} */

#banner {
    position: relative;
    height: 100vh; 
}
.banner-msg {
    background-color: rgb(241, 227, 213);
    padding: 35px;
    height: 550px;
    grid-column: 1/4;
    grid-row: 4/9;
    text-align: right;
}
.banner-title {
    background-color: #f3bb54;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/4;
}
#first-img {
    margin: 100px 0;
    box-shadow: 5px 5px 10px #6f7364;
    position: absolute;
    max-width: 1600px;
}

.container {
    position: relative;
}
  
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.content {
    padding: 20px;
    text-align: center;
}
  
.gallary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
   
}
  
.gallary-grid img {
    width: 100%;
    height: auto;
    border: 10px solid #f3bb54;
    transition: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364;
   
    
}
.gallary-grid p {
    text-align: center;
}