

body {
    max-width: 1600px;
    background-color: white; 
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#logo-link {
    padding-top: 5px;
}
#home-grid h2 {
    margin: 0;
}
header {
    background-color: #758E4F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav a {
    padding: 35px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    background-color:  #396E94;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 35px;
}
.home-title h4 {
    color: black;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.home-title {
    font-family: 'Helvetica Rounded', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#group-img {
    margin: 0 auto;
    display: block;
    max-width: 1600px;
}
.book, .join {
    background-color: #396E94;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
 #card-img {
    border: 10px solid #F6AE2D;
} 
main section #card-img {
    box-sizing: border-box;
    border: 10px solid #f1d66a; 
}
.book:hover, .join:hover {
    background-color: #396E94;
    color: black;
}
.book:hover {
    background-color: #F6AE2D;
    color:black;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color:  #f1d66a;
}
.mountains {
    margin: 100px 0;
}
.msg {
    background-color: #758E4F;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2, .msg p {
    color: rgb(0, 0, 0);
}
footer {
    background-color: #f3bb54;
    color:  rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 200px;

}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p a:hover {
    text-decoration: underline;
}
nav a {
    text-align: center;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#hero-msg h4 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}