body {
    max-width: 1600px;
    background-color: #FFFAF5; 
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-display: Quicksand;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #AED6F1;
    font-family: Quicksand, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color:  #e66138;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 35px;
}
#home-content {
    max-width: 1600px;
    margin: 0 auto;
}
#banner-box {
    background-color: #5D757C;
}
#banner-box h1 {
    font-family: Quicksand, arvo;
    font-size: 2em;
    margin-top: auto;
    color: black;
    padding-left: 10%;
    color: white;
}
#banner-box h3 {
  color:  #e66138;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  padding-left: 5%;
  padding-bottom: 5%;
}

.banner-msg p:nth-of-type(1) {
    text-align: center;
    font-size: 250%;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}
#first-img {
    display: block;
    max-width: 1600px;
    margin-left: 60%;
}
main {
    margin: 0 auto;
    padding: 0 5%;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%; /* Adjust the spacing between the cards as needed */
    max-width: 1600px;
  }
.home-grid h2 {
    background-color: #e66138;
    text-align: center;
}
  
.outdoor-card,
.indoor-card,
.route-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin: 200px 0;
    
  }
p:nth-of-type(1) {
    background-color: #5D757C;
  }
  
.card-img {
    display: block;
    width: 100%;
    height: auto;
}
  
.card-img {
    border: 10px solid #aabd8c;
    transition: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
footer {
    background-color:  #AED6F1;
    color:  rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: left;
    font-family: Quicksand;
}

footer a { 
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer p a:hover {
    text-decoration: underline;
}

/* beginning of training page css */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.header-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 10px; /* Gap between grid items (adjust as needed) */
}
.grid-title {
  font-size: 4em;
  margin-left: 10%;
  align-items: center;
}
.grid-explain {
  margin-right: 10%;
  align-items: center;
  margin-top: 10px;

}
.training-grid {
  display: flex;
  flex-direction: column;
}

.tip {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* .circle {
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 15px solid #000;
} */
p span {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}
.container {
  background-color: #aabd8c;
  height: 700px; 
  margin: 0 auto;
}
.container img:first-child {
  padding: 10%;
  z-index: 1;
}
.container img:last-child {
  padding: 10%;
  z-index: 2;
}


